* {
    padding: 0;
    margin: 0;
}

.form-group {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
}
.form-result {
    flex: 1 0 25%;
    border: #fff solid 1px;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background: lightgray;
}
ul {
    list-style-type: none;
}
.cnt {
    font-size: 20px;
    color: #005c53;
}
#usr {
    margin-left: 10px;
    width: 100%;
    height: 100px;
    /* float: left; */
}
.success {
    margin-left: 10px;
    background-color: #9fc131;
    width: 25%;
    height: 50px;
    color: white;
}

.again {
    margin-left: 100px;
    width: 25%;
    height: 50px;
    color: white;
    background-color: #ffb30d;
}

.about-us {
    margin-top: 20px;
    margin-left: 20px;
    width: 1000px;
    font-size: 21px;
}
.success:hover {
    color: white;
    transform: scale(1.2); /* Збільшення розміру кнопки на 20% */
    background-color: #dbf227; /* Зміна кольору фону кнопки на червоний */
    border: 1px solid #a8b545; /* Додати товщину та колір рамки при наведенні */
    box-shadow: 2px 2px 2px #ccc;
}
.again:hover {
    color: red;
    transform: scale(1.2); /* Збільшення розміру кнопки на 20% */
    background-color: #edaa25; /* Зміна кольору фону кнопки на червоний */
    border: 1px solid #ffb30d; /* Додати товщину та колір рамки при наведенні */
    box-shadow: 2px 2px 2px #ccc;
}
