* {
    padding: 0;
    margin: 0;
}

.form-group {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
}
.form-result {
    flex: 1 0 25%;
    border: #fff solid 1px;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background: lightgray;
}
ul {
    list-style-type: none;
}
.cnt {
    font-size: 20px;
    color: #005c53;
}
#usr {
    margin-left: 10px;
    width: 100%;
    height: 100px;
    /* float: left; */
}
.success {
    margin-left: 10px;
    background-color: #9fc131;
    width: 25%;
    height: 50px;
    color: white;
}

.again {
    margin-left: 10px;
    width: 25%;
    height: 50px;
    color: white;
    background-color: #a62b1f;
}

.about-us {
    margin-top: 20px;
    margin-left: 20px;
    width: 1000px;
    font-size: 21px;
}
.button-app {
}
